<%=form_tag words_path ,:method => "get",remote:true,id:"busqueda" do%>
	<%=text_field_tag :search,params[:search],id:"target"%>
	<%=submit_tag "buscar",:name=>nil%>
<%end%>
<div id="panel_para_fotos">
	<%=render "words/fotoPanel"%>
</div>